/* Global Background */
.main-content {
  --background: linear-gradient(to bottom, orange, white);
  
}

.bar{
    --background:#ba4f11;
}

.inner-scroll {
    opacity: 0.5;
    filter: blur(40px);

}

/* Header Styling */
.app-title {
  font-weight: 700;
  color: #f4eded;
}

.header-section {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
  --background:#0dbf40;
}

.header-section h1 {
  font-size: 2rem;
  font-weight: 800;
  color: #1a1a1a;
  margin-bottom: 5px;
}

.header-section p {
  color: #666;
  margin: 0;
}

/* Input Styling */
.input-wrapper {
  margin-bottom: 0px;
}




.custom-input {
  --background: white;
  border-radius: 50px; /* Fully rounded pill shape */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
  --padding-start: 20px;
  --padding-end: 5px;
 
}

.add-btn {
  --box-shadow: none;
  --background: #0a0b0e;
  width: 40px;
  height: 40px;
}

/* List Styling (Rounded Corners) */
.list-card {
  background: rgb(177, 52, 52);
  border-radius: 20px; /* Requested Rounded Corners */
  overflow: hidden; /* Ensures items don't bleed out of corners */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  margin-bottom: 30px;
  margin-top: 25px;
}

.list-header {
  background: #f9fafc;
  padding: 15px 20px;
  border-bottom: 1px solid #eee;
  font-weight: 600;
  color: #555;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

.ingredient-item {
  --padding-start: 20px;
  --inner-padding-end: 10px;
  color: #000000;
  --background:#fdfdfd;
}

.ingredient-text {
  font-weight: 500;
  color: #fa1111;
  text-transform: capitalize;
}

.empty-state {
  padding: 30px;
  text-align: center;
  color: #999;
  font-style: italic;
}

.item-wrapper .item-inner{
    --padding-right: 0px;
}

/* Generate Button Styling (Blue) */
.action-container {
  margin-bottom: 40px;
}

.generate-btn {
  --background: #000000; /* Vibrant Blue */
  color: #ffffff;
  --background-hover: #0052cc;
  --border-radius: 40px;
  --box-shadow: 0 4px 15px rgba(0, 102, 255, 0.3);
  font-weight: 70;
  font-size: 14px ;
  letter-spacing: 0.5px;
}