.home-page {
  --background: var(--color-dark-bg);
  --color: var(--color-text-light);
}

.home-toolbar {
  --background: var(--color-dark-bg);
  --color: var(--color-text-light);
  --border-style: none;
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.welcome-text {
  color: var(--color-text-light);
  margin-bottom: 40px;
}

.button-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.menu-btn {
  --border-radius: 10px;
  font-weight: bold;
  height: 50px;
}

.outline-btn {
  --border-color: var(--ion-color-primary);
  --color: var(--ion-color-primary);
}

.menu-title{
  --background: transparent;
}